.background{
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.profile-header{
  margin: 50px auto;
  width: 85%;
  
  display: flex;
  justify-content: space-between;
  position: relative;

  img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  #propic-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--ion-color-medium);
  }

  #user-progress-box {
    position: relative;
    top: 60%;
    left: -27%;

    .user-progress-circle {
      background-color: var(--ion-color-primary);
      width: fit-content;
      height: fit-content;
      margin: auto;
      border-radius: 50%;
      padding: 4px;
  
      svg {
        display: inline-flex;
        vertical-align: bottom;
        width: 35px;
        height: 35px;
      }
      
      circle {
        stroke: rgba(#fff, 0.25);
        stroke-width: 10px;
        stroke-dasharray: 0;
        fill: none;
      }
      
      .meter {
        stroke-width: 10px;
        stroke: #fff;
        fill: none;
        transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transform-origin: center center;
        transform: rotate(-90deg) scaleX(-1);
      }
      
      text {
        fill: #fff;
        font-weight: bold;
      }
    }
  }
}

.profile-progress-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;

  .level-progress-bar {
    background-color: var(--ion-color-primary);
    height: 18px;
    width: 70%;
    border-radius: 10pt;
    display: flex;
    align-items: center;

    .level-progress-bar-empty{
      background-color: var(--ion-color-medium);
      position: relative;
      left: 5%;
      height: 35%;
      width: 90%;
      border-radius: 5pt;

      .level-progress-bar-inner{
        background-color: #fff;
        height: 100%;
        width: 0%;
        border-radius: 5pt;
      }
    }
    
  }
}

.profile-body{
  background: linear-gradient(180deg, rgba(71,71,249,1) 50%, rgba(35,35,167,1) 100%);
  width: 100%;
  height:70%;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.profile-challenges{
  position: relative;
  left: 10%;
  top: 30px;

  .profile-challenges-box{
    display: flex;
    width: 100%;
    overflow-x: scroll;

    .challenge-icon-bg {
      position: absolute;
      right: 20px;
      bottom: -10px;
    }

    .challenge-icon {
      position: absolute;
      right: 38px;
      bottom: 20px;
    }
  }
}

.profile-interests{
  position: relative;
  left: 10%;
  top: 30px;
  width: 80%;
  height: 160px;
  overflow-y:visible;

  .profile-interests-box{
    width: 100%;
    height: 90%;
    display: block; 
    overflow-y:scroll;
  
    .profile-interests-interest{
      background-color: chartreuse;
      display: inline-flex;
      width: 40%;
      height: 50px;
      border-radius: 25px;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin: 10px;
    }
  }

  
}