#container{
  height: 100%;
  background: rgb(71,71,249);
  background: linear-gradient(180deg, rgba(71,71,249,1) 20%, rgba(35,35,167,1) 100%);

}
#subtitle{
  font-size: 1.5em;
  font-weight: 600;
}

.profile-header{
  width: 85%;
  background-color: #fff;
  
  display: flex;
  justify-content:space-between;
  position: relative;

  img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  #propic-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--ion-color-medium);
  }

  #user-progress-box {
    position: relative;
    top: 60%;
    left: -27%;

    .user-progress-circle {
      background-color: #FF4F14;
      width: fit-content;
      height: fit-content;
      margin: auto;
      border-radius: 50%;
      padding: 4px;
  
      svg {
        display: inline-flex;
        vertical-align: bottom;
        width: 35px;
        height: 35px;
      }
      
      circle {
        stroke: rgba(#fff, 0.25);
        stroke-width: 10px;
        stroke-dasharray: 0;
        fill: none;
      }
      
      .meter {
        stroke-width: 10px;
        stroke: #fff;
        fill: none;
        transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transform-origin: center center;
        transform: rotate(-90deg) scaleX(-1);
      }
      
      text {
        fill: #fff;
        font-weight: bold;
      }
    }
  }
}

.profile-progress-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;

  .level-progress-bar {
    background-color: var(--ion-color-primary);
    height: 18px;
    width: 70%;
    border-radius: 10pt;
    display: flex;
    align-items: center;

    .level-progress-bar-empty{
      background-color: var(--ion-color-medium);
      position: relative;
      left: 5%;
      height: 35%;
      width: 90%;
      border-radius: 5pt;

      .level-progress-bar-inner{
        background-color: #fff;
        height: 100%;
        width: 0%;
        border-radius: 5pt;
      }
    }
    
  }
}



.profile-challenges{
  position: relative;
  left: 10%;
  top: 50px;
  width: 80%;
  

  .profile-challenges-box{
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 15px 0;
    overflow-x: scroll;
    justify-content: space-between;
    

    .challenge-icon-bg {
      width: 90px;
      height: 90px;;

      path {
        fill: var(--ion-color-medium);
        scale:0.6;
      }
    }

    .challenge-icon-bg-empty{
      position: relative;
      display: flex;

      justify-content: center;
      width: 90px;
      height: 90px;

      path {
        fill: #FFFEEC;
        opacity: 20%;
        scale:0.6;
      }
    }

    .challenge-icon {
      position: absolute;
    }
  }
}

.profile-interests{
  position: relative;
  left: 10%;
  top: 50px;
  width: 80%;
  height: 160px;
  overflow-y:visible;

  .profile-interests-line{
    position: relative;
    margin: 10px 0;
    width: 100%;
    height:50px;
    display: flex; 
    overflow-y:scroll;
    justify-content: space-between;
    
  
    .profile-interests-interest{
      background-color: chartreuse;
      display: flex;
      width: 45%;
      height: 50px;
      border-radius: 25px;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }

  
}