<ion-content [fullscreen]="true">
<div id="container">
  <div class="page-title">
    <div>Amici</div>
  </div>
  <div class="friends">
    <div class="friends-preview-box">
      <div class="propic-circle"></div>
      <div class="text-box">
        <div class="name">Giovanna</div>
        <div class="last-message">Perchè non mi rispondi mai?!?!
          Sei un maleducato!</div>
      </div>
      <div class="timestamp">30 min fa</div>
    </div>

    <div class="separator"></div>

      <div class="friends-preview-box">
        <div class="propic-circle"></div>
        <div class="text-box">
          <div class="name">Roberto</div>
          <div class="last-message">Come va? Io sto tornando a casa</div>
        </div>
        <div class="timestamp">1h fa</div>
      </div>

    <div class="separator"></div>

      <div class="friends-preview-box">
        <div class="propic-circle"></div>
        <div class="text-box">
          <div class="name">Gianni</div>
          <div class="last-message">Daje Roma!</div>
        </div>
        <div class="timestamp">Ieri</div>
      </div>

    <div class="separator"></div>

      <div class="friends-preview-box">
        <div class="propic-circle"></div>
        <div class="text-box">
          <div class="name">Alessia</div>
          <div class="last-message">Ahahahahaha, è vero!</div>
        </div>
        <div class="timestamp">Ieri</div>
      </div>

  </div>
  <div class="invite-a-friend-button">
    <div class="invite-a-friend-text">INVITA UN AMICO</div>
  </div>
</div> 
</ion-content>
