<ion-tab-bar slot="bottom" [style.display]="selectedPath.startsWith('/login') ? 'none' : '\'\'' ">
  <ion-tab-button class="no-ripple" tab="home" layout="icon-start" [class.tab-selected]="selectedPath.startsWith('/home') || selectedPath === '/'">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.startsWith('/home') || selectedPath === '/'">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button class="no-ripple" tab="chat" layout="icon-start" [class.tab-selected]="selectedPath.startsWith('/chat')">
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.startsWith('/chat')">Chat</ion-label>
  </ion-tab-button>
  <ion-tab-button class="no-ripple" tab="friends" layout="icon-start" [class.tab-selected]="selectedPath.startsWith('/friends')">
    <ion-icon name="people-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.startsWith('/friends')">Amici</ion-label>
  </ion-tab-button>
  <ion-tab-button class="no-ripple" tab="profile" layout="icon-start" [class.tab-selected]="selectedPath.startsWith('/profile')">
    <ion-icon name="options-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.startsWith('/profile')">Profilo</ion-label>
  </ion-tab-button>
</ion-tab-bar>