ion-tab-bar {
    width: 90%;
    margin: 20px auto;
    padding: 5px 10px;
    border: none;
    border-radius: 40px;

    ion-tab-button {
        color: var(--ion-color-dark);
    }

    ion-tab-button.tab-selected {
        height: 80%;
        padding: 0 10px;
        color: var(--ion-color-primary-contrast);
        background-color: var(--ion-color-primary);
        border-radius: 40px;

        ion-icon {
            margin: 0;
            margin-right: 10px;
        }
    }
}