<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" layout="icon-start" [class.tab-selected]="selectedPath.includes('/home')">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.includes('/home')">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="chat" layout="icon-start" [class.tab-selected]="selectedPath.includes('/chat')">
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.includes('/chat')">Chat</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="friends" layout="icon-start" [class.tab-selected]="selectedPath.includes('/friends')">
    <ion-icon name="people-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.includes('/friends')">Amici</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="profile" layout="icon-start" [class.tab-selected]="selectedPath.includes('/profile')">
    <ion-icon name="options-outline"></ion-icon>
    <ion-label *ngIf="selectedPath.includes('/profile')">Profilo</ion-label>
  </ion-tab-button>
</ion-tab-bar>